%h1 Events
%ul.nav.nav-tabs
  -#%li.active=link_to tag_icon(:list, pat(:list)), url(:conferences, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:conferences, :new)

.tabs-content
  = partial 'conferences/grid', :locals => {:readonly => false}