- error = @media.errors.include?(:conference_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "Event", :class => 'control-label', :for => :media_conference_id
  .controls
    =f.select :conference_id, :options => Conference.all.collect {|c| [ c.name, c.id ] }, :class => 'styled input-xlarge input-with-feedback',:include_blank => true, :style=>'width:200px;'
    -#%a.btn.btn-primary{:role => "button", "data-toggle" => "modal", :href => "#modal_category"} Add New
    %span.help-inline=error ? f.error_message_on(:conference_id, :class => 'text-error') : pat(:example)
- error = @media.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @media.errors.include?(:media_type_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :media_type_id, :class => 'control-label'
  .controls
    =f.select :media_type_id, :options => MediaType.all.collect {|mt| [ mt.name, mt.id ] }, :class => 'styled input-xlarge input-with-feedback',:include_blank => true, :style=>'width:200px;'

    %span.help-inline=error ? f.error_message_on(:media_type_id, :class => 'text-error') : pat(:example)
- error = @media.errors.include?(:location)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =label_tag :file, :class => "control-label"
  .controls
    = file_field_tag :file, :class => 'input-xlarge input-with-feedback'

- if @media.location
  %fieldset.control-group{:class => error ? 'has-error' : ''}
    =label_tag "Current", :class => "control-label"
    .controls
      - if @media.media_type_id == 1
        = image_tag @media.get_file_path, :style=>"width:50%;", :class =>"thumbnail"
      - else
        = @media.location

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:medias, :index), :class => 'btn'
